{% extends 'base.html.twig' %}

{% block title %}GTINs à jour{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">GTINs à jour</h1>
        <button class="btn btn-primary mb-3" onclick="window.location.href='{{ path('export_products') }}'">
            Télécharger en Excel tous les produits
        </button>
        <button class="btn btn-secondary mb-3" onclick="window.location.href='{{ path('export_products2') }}'">
            Télécharger en Excel les produits filtrés
        </button>

        <ul class="list-group">
            {% for gtin in gtins %}
                <li class="list-group-item"><a href="{{ path('fetch_product_details', { 'gtin': gtin }) }}">{{ gtin }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}