{% extends 'base.html.twig' %}

{% block title %}Détails GTIN{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Détails GTIN</h1>

        <pre class="bg-light p-3">
            {{ product|json_encode(constant('JSON_PRETTY_PRINT')|raw) }}
        </pre>
    </div>
{% endblock %}